#container {
  height: 100vh;
  /* background-color: #4158D0; */
  /* background-image: linear-gradient(45deg, #567eb3 0%, #e48ff0 42%, #abffa0 100%);
   */
   background-image: linear-gradient(45deg, #abffa0 0% , #e48ff0 42%,  #567eb3 100%);
   /* animation: spin 60s linear infinite; */
}

#container-oflogo {
  height: 100vh;
  /* background-color: #4158D0; */
  /* background-image: linear-gradient(45deg, #567eb3 0%, #e48ff0 42%, #abffa0 100%);
   */
   background-image: linear-gradient(45deg, #abffa0 0% , #e48ff0 42%,  #567eb3 100%);
   /* animation: spin 60s linear infinite; */
}

@keyframes spin {
  from { transform: rotate(0deg)}
  to { transform: rotate(360deg)}
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  #foo {                           
      height: 1024px;                         
  }                       
}   
                                          
/* iPad with landscape orientation. */                       
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {                         
  #foo {                           
      height: 768px;                         
  }                       
}
                                             
/* iPhone 5 
You can also target devices with aspect ratio. */ 
@media screen and (device-aspect-ratio: 40/71) {                              
  #foo {                           
      height: 500px;                         
  }                       
}

.contents {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.contents-oflogo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.video-logo {
  mix-blend-mode: darken;
  transform: scale(0.5);
  filter: invert(100%);
}

.player-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player {
  border: solid black;
}

.video {
  width: 60vw;
}

.navigation-alt {
  display: flex;
  justify-content: space-between;
  font-size: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 5vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}


.nav-item {
  /* background-color: black; */
  color: black;
  padding: 2vh;
  letter-spacing: 1vw;
  /* text-decoration: none;  */
}

.nav-item:hover {
  color: white;
  background-color: black;
}

.nav-item-alt {
  background-color: black;
  color: white;
  /* padding: 3vw; */
  letter-spacing: 1vw;
  /* text-decoration: none;  */
  width: 15vw;
  height: 10vh;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-page {
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .nav-item:hover {
  background-color: black;
  color: white;
} */

.top-left {
  position: fixed;
  top: 0;
  left: 0;

}

.top-right {
  position: fixed;
  top: 0;
  right: 0;

}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;

}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;

}

.bottom-centre {
  /* position: fixed; */
  bottom: 0;
  margin-left: auto;
  margin-right: auto; 
  margin-top: auto; 
  padding-right: 1vh;
}



#logo {
  /* animation: logo 8s infinite; */
  width: 25vh;
}

@keyframes logo {
  0% {
    transform: scale(1) rotate(-20deg);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1) rotate(20deg);
  }
}

/* .page-header:after {
    animation: grain 8s steps(10) infinite;
    background-image: url("media/paper.png");
    content: "";
    height: 300%;
    left: -50%;
    opacity: 0.3;
    position: fixed;
    top: -100%;
    width: 300%;
  }
  
  @keyframes grain {
    0%, 100% { transform:translate(0, 0) }
    10% { transform:translate(-5%, -10%) }
    20% { transform:translate(-15%, 5%) }
    30% { transform:translate(7%, -25%) }
    40% { transform:translate(-5%, 25%) }
    50% { transform:translate(-15%, 10%) }
    60% { transform:translate(15%, 0%) }
    70% { transform:translate(0%, 15%) }
    80% { transform:translate(3%, 35%) }
    90% { transform:translate(-10%, 10%) }
  } */